.close {
	position: absolute;
	right: 0.2rem;
	top: 0.2rem;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1.5rem;
	background-color: transparent;
	line-height: 1rem;
	color: gray;

	&:active {
		color: green;
	}
}
.warp{
	transform: translate(-50%, -50%)
}
