.scrollLoadingWrap, .scrollLoading {
	padding: 0;
	margin: 0;
}

.scrollLoading {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-y: auto;
	overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.SLoading {
  // transition: height 1s;
  overflow: hidden;
}

.listloading {
  transform: scale(0.2);
  background: none;
  position: relative;
  width: 9rem;
  height: 2rem;
}

@-webkit-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-webkit-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-moz-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-ms-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-moz-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-webkit-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

@-o-keyframes nomore {
  0% {
    height: 0;
  }

  5% {
    height: 2rem;
  }

  95% {
    height: 2rem;
  }

  100% {
    height: 0;
  }
}

.nomoren {
  height: 4rem;
	line-height: 4rem;
  overflow: hidden;
  display: block;
}

.nomore {
  animation: nomore 3s linear forwards;
  animation-delay: 0s;
}

@-webkit-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-webkit-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-moz-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-ms-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-moz-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-webkit-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@-o-keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

@keyframes listloading {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

.listloading > div {
  width: fixpx(24);
  height: fixpx(24);
  margin-left: fixpx(4);
  margin-top: fixpx(4);
  position: absolute;
}

.listloading > div > div {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #666;
}

.listloading > div:nth-of-type(1) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0s;
}

.listloading > div:nth-of-type(1) {
  transform: translate(fixpx(84), fixpx(84)) rotate(45deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(2) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.12s;
}

.listloading > div:nth-of-type(2) {
  transform: translate(fixpx(84), fixpx(84)) rotate(90deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(3) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.25s;
}

.listloading > div:nth-of-type(3) {
  transform: translate(fixpx(84), fixpx(84)) rotate(135deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(4) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.37s;
}

.listloading > div:nth-of-type(4) {
  transform: translate(fixpx(84), fixpx(84)) rotate(180deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(5) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.5s;
}

.listloading > div:nth-of-type(5) {
  transform: translate(fixpx(84), fixpx(84)) rotate(225deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(6) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.62s;
}

.listloading > div:nth-of-type(6) {
  transform: translate(fixpx(84), fixpx(84)) rotate(270deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(7) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.75s;
}

.listloading > div:nth-of-type(7) {
  transform: translate(fixpx(84), fixpx(84)) rotate(315deg) translate(fixpx(70), 0);
}

.listloading > div:nth-of-type(8) > div {
  animation: listloading 1s linear infinite;
  animation-delay: 0.87s;
}

.listloading > div:nth-of-type(8) {
  transform: translate(fixpx(84), fixpx(84)) rotate(360deg) translate(fixpx(70), 0);
}

.backtotop {
  width: 5rem;
  height: 4.8rem;
  border-radius: 10rem;
  position: absolute;
  right: 0.5rem;
  bottom: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 3px 1px rgba(194, 194, 194, 0.57);
	color: #aaa;
	text-align: center;
	line-height: 4.8rem;
	font-size: 1.5rem;
	z-index: 1000
}
